.search__tabs
    padding-top: 77px
    .search__tab_item
       padding: 11px 26px
    .active_tab
        background: #F0F0F4;
        border-radius: 5px;
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: bold;
.search_content
    margin-top: 25px
    .search__content-item
        display: none
    .active__search__content-item
        display: block
    .search__content__form
        display: flex      
        .search__form_input
            max-width: 1170px
            padding: 15px 20px
            font-size: 16px;
            line-height: 19px;
            background: #F0F0F4;
            border-radius: 3px;
            border: none
            flex-grow: 1
        .search__form_button
            background: $akcent
            border-radius: 3px;
            font-family: 'SFProDisplay-Bold', sans-serif;
            max-width: 145px
            padding: 17px 39px
            color: #fff
            border: none 
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: uppercase;

@media screen and ( max-width:775px  )
    .search__tabs
        overflow-x: scroll
        .mobile-overflow
            min-width: 1000px
        .search__tab_item
            min-width: 162px
            padding-left: 0
            padding-right: 10px
        .active_tab
            background: #fff;
            border-radius: 0
            padding-bottom: 5px
            border-bottom: 2px solid $akcent;
@media screen and ( max-width:410px  )
    .container
        padding: 0
    .search__tabs
        .search__tab_item
            letter-spacing: -0.7px
    .search_content
        .search__content__form
            position: relative
            .search__form_button
                background: transparent
                border: none 
                font-size: 0px;
                background-image: url('../img/icons/search.svg')
                background-repeat: no-repeat
                background-position: center center  
                position: absolute
                width: 16px
                height: 16px
                bottom: 7px
                right: -16px

            
