@import ./../css/fonts.css
@import ./../css/slick.css
@import variables

body 
    color: #2F3035
    font-family: SFProDisplay-Regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
*
    font-family: sans-serif;


@import general
@import header
@import shares